In [8]:
import pandas as pd
data_for_girls = {
    'Name':['Evelyn','Jessica','Somto','Edith','Liza','Madonna','Waje','Tola','Aisha','Latifa'], #type: ignore
    'Age':[17,16,17,18,16,18,17,20,19,17], # type: ignore
    'Hieght':[5.5,6.0,5.4,5.9,5.6,5.5,6.1,6.0,5.7,5.5], # type: ignore
    'Grade': [80,85,70,60,76,66,87,95,50,49], # type: ignore  
}
tabular_form = pd.DataFrame(data_for_girls)
print("Bellow table for girls")
print(tabular_form)

data_for_boys = {
    'Name':['Chinedu','Liam', 'Wave', 'Gbenga', 'Abiola', 'Kola', 'Kunle', 'George', 'Thomas', 'Wesley'],# type: ignore
    'Age':[19,16,18,17,20,19,16,18,17,19],#type: ignore
    'Hieght':[5.7,5.9,5.8,6.1,5.9,5.5,6.1,5.4,5.8,5.7],#type: ignore
    'Grade':[74,87,75,68,66,78,87,98,54,60],#type: ignore
}
tabular_form_2 = pd.DataFrame(data_for_boys)
print("Bellow table for boys")
print(tabular_form_2)

Bellow table for girls
      Name  Age  Hieght  Grade
0   Evelyn   17     5.5     80
1  Jessica   16     6.0     85
2    Somto   17     5.4     70
3    Edith   18     5.9     60
4     Liza   16     5.6     76
5  Madonna   18     5.5     66
6     Waje   17     6.1     87
7     Tola   20     6.0     95
8    Aisha   19     5.7     50
9   Latifa   17     5.5     49
Bellow table for boys
      Name  Age  Hieght  Grade
0  Chinedu   19     5.7     74
1     Liam   16     5.9     87
2     Wave   18     5.8     75
3   Gbenga   17     6.1     68
4   Abiola   20     5.9     66
5     Kola   19     5.5     78
6    Kunle   16     6.1     87
7   George   18     5.4     98
8   Thomas   17     5.8     54
9   Wesley   19     5.7     60